@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~ngx-toastr/toastr';


.happyTrail {
  position: absolute;
  width: 5px;
  height: 5px;
  background: #e8d7cb;
  border-radius: 50%;
  opacity: 0.5;
  pointer-events: none;
  filter: blur(0px);
  
  animation-duration: 0.5s;
  animation-name: rainbowFade;
  animation-timing-function: ease;
}

@keyframes rainbowFade {
  0% {
    background: #e8d7cb;
    opacity: 100;
  }
 
  20% {
    background: #e8d7cb;
    opacity: 100;
  }
 
  40% {
    background: #e8d7cb;
    opacity: 100;
  }
  
  60% {
    background: #e8d7cb;
    opacity: 100;
  }
 
  80% {
    background: #e8d7cb;
		opacity: 100;
  }
 
  100% {
    background: #e8d7cb;
    opacity: 100;
  }
}