<div id="How-I-Work" class="content-section dark">
<div class="content-wrapper w-container">
    <div class="header-box">
        <div class="title-box white">
            <div class="strikethrough"></div>
            <div class="mini-title white">Our Process</div>
        </div>
        <h3 class="heading-3 big white">How Does this Work?</h3>
        <p class="paragraph big gray">Zootoca Technologies will help you bring your ideas to life.<span class="white"></span></p>
    </div>
    <div data-ix="slide-right-1-chat-icon" class="how-i-work-row row">
        <div class="col double-color-icons-box">
            <div data-ix="initial-appearance-chat-icon" class="chat-icon">
                <img src="assets/images/service-images/email.svg" width="151.5" alt="start a project with vivid digital media" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" data-w-id="15bbdb5d-f690-dfae-8067-a93e3da66b0f" class="image-5">
            </div>
        </div>
        <div class="col right-column how-i-work">
            <div class="mini-title white">LET'S DISCUSS YOUR PROJECT</div>
            <div class="vertical-divider"></div>
            <p class="paragraph gray text-justify">Email us, shoot us a text, or make a call. Let's talk about your business's needs and goals.We encourage our visitors to get in touch with us make them feel free to discuss about their requirements and facilitates smooth communication..We will help you to determine how to get the best result.</p>
        </div>
    </div>
    <div data-ix="slide-left-2-display-icon" class="how-i-work-row-2 row">
        <div class="left-column col">
            <div class="mini-title white">Our Workflow</div>
            <p class="paragraph gray text-justify">Our turnaround time is usually measured in days and our pricing is competitive. We don't oversell and we don't overcharge; we just want to help your business succeed. We will communicate with you every step of the way to make sure we deliver on your expectations.</p>
            <!-- <div class="vertical-divider right"></div> -->
        </div>
        <div data-ix="initial-appearance-display" class="display-icon col">
            <img src="assets/images/process/workflow.svg" class="image-6">
            <div class="vertical-divider"></div>
        </div>
    </div>
    <div data-ix="slide-right-3-diamond-icon" class="how-i-work-row-3 row">
        <div data-ix="initial-appearance-diamond-icon" class="diamond-icon col">
            <img src="assets/images/process/heart.svg" width="163" alt="logos and business card designer" style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;" data-w-id="5d38b8f7-b54f-ceb9-f6a7-3f608734214c" class="image-7">
        </div>
        <div class="right-column how-i-work col">
            <div class="mini-title white">Project delivery</div>
            <p class="paragraph gray text-justify">We LOVE that every project is different, and we LOVE that you trust us to bring your ideas to life. We'll do everything we can to ensure your satisfaction with the finished product. </p>
            <div class="vertical-divider"></div>
        </div>
    </div>
</div>
</div>  