<div class="page-wraper"> 
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <router-outlet></router-outlet>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <!-- <app-section-page-banner [data]="banner"></app-section-page-banner> -->
        <!-- INNER PAGE BANNER END -->

        <!-- SECTION CONTENT START -->
        <div class="section-full p-b50 mobile-page-padding">
            <div class="container">

              
                <!-- GALLERY CONTENT START -->
                 <div class="row">
                    <!-- <div class="col-lg-4 col-md-12 sticky_column">
                        <div class="about4-section m-b20 bg-gray p-a20">
                            <div class="widget widget_services">
                                <h4 class="widget-title">More Services</h4>
                                <ul class="bg-white">
                                    <li *ngFor="let object of moreServices">
                                        <a routerLink="/services/services1">{{object}}</a>
                                    </li>
                                </ul>
                            </div>                        
                            <div class="wt-icon-box-wraper left bg-white p-a15 m-b10">
                                <a routerLink="/about/about1" class="btn-block">
                                    <span class="text-black m-r10"><i class="fa fa-file-pdf-o"></i></span>
                                    <strong class="text-uppercase text-black">Download .PDF</strong>
                                </a>
                            </div>
                            <div class="wt-icon-box-wraper left bg-white p-a15 m-b10">
                                <a routerLink="/about/about1" class="btn-block">
                                    <span class="text-black m-r10"><i class="fa fa-file-word-o"></i></span>
                                    <strong class="text-uppercase text-black"> Download .DOC</strong>
                                </a>
                            </div>
                            <div class="wt-icon-box-wraper left bg-white p-a15 m-b10">
                                <a routerLink="/about/about1" class="btn-block">
                                    <span class="text-black m-r10"><i class="fa fa-file-powerpoint-o"></i></span>
                                    <strong class="text-uppercase text-black">Download .PPT</strong>
                                </a>
                            </div>                                  
                            <div class="about4-content m-t30">
                                <h4>GET 10% OFF TODAY</h4>
                                <p>A Completely Safe and Advanced Cleaning Solution for both Petrol and Diesel Engines</p>
                                <a routerLink="/about/about1" class="site-button-link">Read More</a>
                            </div>
                     
                        </div>
                    </div> -->
                    
                    <div class="col-lg-12 col-md-12">
                        <div class="section-content">
                            <div class="service-single-block m-b30"  *ngIf="title && description"><br><br><br>
                                <div class="row">
                                    <div class="col-lg-10">
                                        <section class="title container">
                                            <div class="row">
                                              <div class="col-md-12">
                                                <h1>{{title}}</h1>
                                                <div class="seperator"></div><br>
                                                <p style="font-size:22px;" [innerHTML]="title2"></p>
                                              </div>
                                            </div>
                                          </section>    
                                        <h3 class="m-t30 sx-tilte text-center"></h3>
                                    </div>
                                    <div class="col-lg-2">
                                        <button class="btn-23 me-3 small-button" style="justify-content: right;" (click)="toggleDescription(title)">
                                            <span class="text">Enquiry</span>
                                            <span aria-hidden="" class="marquee">Enquiry</span>
                                        </button> 
                                    </div>
                                </div>
                                <p class="subdescription-container" style="font-size:17px;" [innerHTML]="description"></p>
                                <div class="d-flex justify-content-center align-items-center">
                                <img src="{{image}}" alt="" style="width: 95%; height:95%;">
                            </div><br><br>

                                <!-- <div class="sx-media">
                                    <img src="{{service.thumb}}" alt="">
                                </div> -->

                                <!-- <h3 class="m-t30 sx-tilte" >{{service.title}}</h3>
                                <div [innerHTML]='service.description'></div>                                 -->
                            
                            </div>

                            <!-- <div class="sx-accordion acc-bg-gray m-b30" id="accordion5">

                                <div class="panel sx-panel" *ngFor="let object of service.faq; let i = index;">
                                    <div class="acod-head {{i==0 ? 'acc-actives' : ''}}">
                                         <h6 class="acod-title">
                                            <a data-toggle="collapse" href="#collapse{{i}}" class="{{i==0 ? '' : 'collapsed'}}" data-parent="#accordion5" >
                                                {{object.title}}
                                                <span class="indicator"><i class="fa"></i></span>
                                            </a>
                                         </h6>
                                    </div>
                                    <div id="collapse{{i}}" class="acod-body collapse {{i==0 ? 'show' : ''}}">
                                        <div class="acod-content p-tb15"><p> {{object.description}}</p></div>
                                    </div>
                                </div>

                            </div>                                         -->
            
                            <!-- <div class="row">
                            
                                <div class="col-md-6 m-b30" *ngFor="let object of service.more">
                                    <div class="sx-icon-box-wraper p-a30  center bg-white shadow">
                                        <div class="sx-icon-box-lg inline-icon text-primary  m-b20 radius bg-secondry  scale-in-center">
                                            <span class="icon-cell sx-text-primary"><i class="{{object.icon}}"></i></span>
                                        </div>
                                        <div class="icon-content">
                                            <h4 class="sx-tilte">{{object.title}}</h4>
                                            <p>{{object.description}}</p>
                                            <a routerLink="/services/services1" class="site-button-link">Read More</a>
                                        </div>
                                    </div>                                    
                                </div>

                            </div>   -->
                      </div>
   
                    </div>
                 </div>   
                <!-- GALLERY CONTENT END -->
            </div>
            <section class="title container" *ngIf="title && description">
                <div class="row">
                  <div class="col-lg-6">
                    <div class="font-weight-bold h3" > {{subtitle}}</div><br>
                        <p class="subdescription-container "> {{subdescription}}<p>
                    <!-- <div class="seperator"></div> -->
                </div>
                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                        <img src="{{subimage}}" alt="" style="width: 80%; height:90%;">
                    </div>
               
                </div>
              </section>
              <!-- <section class="title container" *ngIf="title && description">
            <div class="container new" *ngIf="title && description">
                <div class=" row">
                    <div class="col-lg-6 ">
                        <div class=" row font-weight-bold h3" style="color: rgb(0, 0, 0)"> {{subtitle}}</div><br>
                        <div class="row subdescription-container h6" style="font-size:16px; color: rgb(0, 0, 0)"> {{subdescription}}</div>
                       
                    </div>
                    <div class="col-lg-6 d-flex justify-content-center align-items-center">
                        <img src="{{subimage}}" alt="" style="width: 80%; height:90%;">
                    </div>
                </div>
            </div>
        </section> -->
        </div>

        <section class="title container">
            <div class="row">
              <div class="col-md-12">
                <h1>Innovative Designs</h1>
                <div class="seperator"></div>
                <p> Lasting Impressions For Your Brand</p>
              </div>
            </div>
          </section>
          
          <!-- Start Blog Layout -->
          <div class="container">
            <div class="row">
              <div class="col-md-4 item" *ngFor="let heading of subheading; let i = index">
                <div class="item-in">
                  <h4>{{ heading }}</h4>
                  <div class="seperator"></div>
                  <p class="subdescription-container">{{ subdescription1[i] }}</p>
                </div>
              </div>
            </div>
          </div>
          
        <!-- SECTION CONTENT END  --> 
    
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
    
</div>
</div>