<div class="page-wraper">

    <!-- HEADER START -->
    <app-header1></app-header1>
    <router-outlet></router-outlet>
    <!-- HEADER END -->

    <!-- CONTENT START -->
    <div class="page-content">

        <!-- INNER PAGE BANNER -->
        <app-section-page-banner [data]="banner"></app-section-page-banner>
        <!-- INNER PAGE BANNER END -->

        <!-- SECTION CONTENT START -->
        <div class="section-full p-t80 p-b50 mobile-page-padding">
            <div class="container">

                <!-- GALLERY CONTENT START -->
                <div class="row">

                    <div class="col-lg-12 col-md-12">
                        <div class="section-content">
                            <div class="service-single-block m-b30" *ngIf="title && description">
                                <h3 class="m-t30 sx-tilte">{{title}}</h3>  <button class="btn-shine " (click)="toggleDescription(title)">Enquiry</button>  
                                <p>{{description}}</p>
                                <img src="{{image}}" alt="">
                            </div>
                        </div>

                    </div>
                </div>
                <!-- GALLERY CONTENT END -->
            </div>
            <div class="container new" *ngIf="title && description">
                <div class="col-lg-12 row">
                    <div class="col-lg-6">
                        <img src="{{subimage}}" alt="">
                    </div>
                    <div class="col-lg-6">
                        <div class=" row font-weight-bold"> {{subtitle}}</div>
                        <div class=" row"> {{subdescription}}</div>
                    </div>
                </div>
            </div>

        </div>
        <!-- SECTION CONTENT END  -->

        <!-- CONTENT END -->

        <!-- FOOTER START -->
        <app-footer1 [data]='footerData'></app-footer1>
        <!-- FOOTER END -->

    </div>
</div>