.description {
    text-align: justify; /* You can use 'left', 'center', 'right', or 'justify' */
  }


/* //////////////////////////// */
.reveal {
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: all 2s ease;
  }
  
  .reveal.active {
  transform: translateY(0px);
  opacity: 1;
  }
  
  /* ///////////////////////////// */
  .Reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 2s ease;
  }
  
  .Reveal.active {
  transform: translateX(0px);
  opacity: 1;
  }