<div class="section-full mobile-page-padding p-t80 p-b80 bg-gray">
    <div class="container">
            <div class="section-content">
                <div class="row">
                    <div class="col-xl-5 col-lg-5 col-md-12 ">
                        <div class="home-2-about bg-bottom-left bg-no-repeat bg-cover" style="background-image:url({{data.image}});">
                        
                        </div>
                    </div>
                    
                    <div class="col-xl-7 col-lg-7 col-md-12">
                        <div class="about-home-2">
                            <h3 class="m-t0 sx-tilte">{{data.title}}</h3>
                            <p class="description" [innerHTML]="data.description" ></p>
                            <div class="text-left">
                                <a routerLink="/about/about2" class="site-button-link">Read More</a>
                            </div>                                                    
                        </div>
                    </div>
                    
                </div>
           </div>
     </div>
   
</div>

   <!-- OUR TEAM START -->

<div class="section-full mobile-page-padding p-t50 p-b80 bg-gray">
    <div class="container">
        <div class="section-content">
            <div class="row justify-content-center">
                <div class="sx-separator-outer separator-center">
                    <div class="sx-separator bg-white bg-moving bg-repeat-x"
                        style="background-image:url(assets/images/background/cross-line2.png)">
                        <h3 class="sep-line-one">Our Founders</h3>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-head text-justify pt-4">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <h2 class="font-weight-bold">Billvin Rex Vincent</h2>
                            <p style="text-align: center;">(Director)</p>
                        </div> <br>
                        <p>An ambitious, young and dynamic founder <b>Mr. Billvin Rex Vincent B.E., Dip in News
                            presenting and Anchoring</b>, who is being a pillar of <b>ZOOTOCA TECHNOLOGIES Pvt Ltd.</b>
                            He has a substantial Experience in Civil Engineering, along with roles as a social media coordinator and been a incharge of YouTube channels.<br><br> 
                            Throughout his career he has successfully managed engineering projects and established a thriving tech company. He is an expertise with effective 
                            social media co-ordination and content creation sets him apart. He always ready to guide the employee. He always used to say “EMPOWER YOUR POTENTIAL”.<br><br> 
                            He believes that smart work helps to lead ZOOTOCA TECHNOLOGIES to become a prominent player in the tech industry, contributes innovative solutions to 
                            society. His dedication to advancing knowledge in the current trends, bridging gap between the marketing and society, and nurturing young talented team in the field of digital media marketing.
                            
                        </p>
                    </div>
                </div>
                
                <div class="col-lg-6">
                    <div class="section-head pt-4 text-justify">
                        <div style="display: flex; flex-direction: column; align-items: center;">
                            <h2 class="font-weight-bold">Franklin</h2>
                            <p style="text-align: center;">(Director)</p>
                        </div> <br>
                        <p>A Creative, determined and innovative founder <b>Mr.Franklin B.E., MBA., Dip in Visual 
                            effects</b>., who is being a great influencer for the success of <b>ZOOTOCA Technologies.</b> 
                            He is an excel in digital media marketing, leveraging various platforms to optimize 
                            brand visibility and engagement. He is proficient in visual effects, He enhance the 
                            project with stunning  graphics and animations, elevating their impact.<br><br> 
                            His background in business administration ensures strategic planning and efficient 
                            execution of marketing campaigns. He possess an exceptional talent in team management, 
                            fostering collaboration and synergy among diverse team members to achieve the goals of 
                            ZOOTOCA efficiently. He motivates the employee to build a positive work culture so that 
                            we can drive impactful results in dynamic business environment.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>