<div class="page-wraper"> 
    <div class="top-bar bg-gray mobile-page-padding  p-t80 p-b50">
        <div class="d-flex justify-content-start" style="margin-left: 42px;">
            <ul class="list-unstyled typewriter e-p-bx ">
            </ul>
        </div>
        <div class="text-right" style="margin-top: 18px; margin-right: 10px;">
            <ul class="list-unstyled e-p-bx ">
                <li><a href="mailto:zootocatechnologies@gmail.com" style="color: black;"><span>Mail us:</span> <u>zootocatechnologies@gmail.com</u></a></li>
                <li><span>Call us:</span>+91 7904987617</li>
            </ul>
        </div>
</div>
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- INNER PAGE BANNER -->
        <app-section-page-banner [data]="banner"></app-section-page-banner>
        <!-- INNER PAGE BANNER END -->

        <!-- Your HTML -->

        <div class="row col-md-12">
<div class="section-full col-lg-6 mobile-page-padding bg-white  p-t80 p-b80">	
    <div class="container">
    <div class="section-head pt-4" (window:scroll)="onScroll()">
        <div class="sx-separator-outer separator-center">
            <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
                <h3 class="sep-line-one">Our Vision</h3>
            </div>
        </div>

        <h2 class="animi text-center  pt-3" [ngClass]="{'visible': isTextVisible}">
            <span>"KEEP</span>
            <span>YOUR</span>
            <span>EYES</span>
            <span>ON</span>
            <span>THE</span>
            <span class="colr">STARS</span><br>
            <span>AND</span><br>
            <span>WE</span>
            <span>WILL</span>
            <span>BE</span>
            <span>YOUR</span>
            <span class="colr">STAIRS"</span>
        </h2>
    </div>
</div>
</div>
<div class="section-full col-lg-6 mobile-page-padding bg-white  p-t80 p-b80">
    <div class="section-head pt-4" (window:scroll)="onScroll()">
        <div class="sx-separator-outer separator-center">
    <div class="sx-separator bg-white bg-moving bg-repeat-x" style="background-image:url(assets/images/background/cross-line2.png)">
        <h3 class="sep-line-one">Our Mission</h3>
    </div>
    </div>
    <div class="pt-4">
    <h5 class="font">To place people at the heart of digital enterprise,
        We make you to tell <span class="colr">WOW</span> till you reach the rainbow.</h5></div>
        <h2 class="animi justify-content-center text-center" [ngClass]="{'visible': isTextVisible}">
      <span><span class="colr">W</span>- WONDER</span><br>
      <span><span class="colr" style="margin-left: 45px;">O</span>- OPTIMISTIC</span><br>
      <span><span class="colr">W</span>- WISEACRE</span></h2>
</div>
</div>

        
        <!-- ABOUT COMPANY START -->
        <app-section-about2 [data]='about'></app-section-about2>
        <!-- ABOUT COMPANY END -->
        
        <!-- WHAT WE DO START -->
        <!-- <app-section-what-we-do1 [data]='whatwedo'></app-section-what-we-do1>   -->
        <!-- WHAT WE DO END -->          

         <!-- OUR AWARDS SECTION START -->
         <!-- <app-section-awards1 [data]='awards'></app-section-awards1>   -->
        <!-- OUR AWARDS SECTION END -->  
         
                
        <!-- OUR TEAM START -->
        <app-section-team1 [data]='team'></app-section-team1>
        <!-- OUR Team END -->             
                            

        <!-- Testimonial -->
       <!-- <app-testimonials [data]='testimonials'></app-testimonials> -->
        <!-- OUR TEAM END --> 

         <!-- TESTIMONIAL START -->
         <!-- <app-section-testimonials2 [data]='testimonials'></app-section-testimonials2>  -->
        <!-- TESTIMONIAL  END -->                          
        
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
    
</div>