.owl-carousel.testimonial-home-two .item {
    height: 255px;
}

.testimonial-1 {
    width: 100%;
    height: 100%;
}

@media (max-width: 767px) {
    .owl-carousel.testimonial-home-two .item {
        height: auto;
    }
}