.item img{
  aspect-ratio: 3/2; 
  object-fit: contain; 
}

/* //////////////////////////// */
.reveal {
  position: relative;
  transform: translateX(-150px);
  opacity: 0;
  transition: all 1s ease;
}

.reveal.active {
  transform: translateX(0px);
  opacity: 1;
}