<div class="page-wraper"> 
        <div class="top-bar bg-gray mobile-page-padding  p-t80 p-b50">
                <div class="d-flex justify-content-start" style="margin-left: 42px;">
                    <ul class="list-unstyled typewriter e-p-bx ">
                        <p class="roll">Welcome to the Future of Marketing Excellence!</p>
                    </ul>
                </div>
                <div class="text-right" style="margin-top: 18px;">
                    <ul class="list-unstyled e-p-bx ">
                        <!-- <li><span>Mail us:</span>zootocatechnologies@gmail.com</li> -->
                        <li><a href="mailto:zootocatechnologies@gmail.com" style="color: black;"><span>Mail us:</span> zootocatechnologies@gmail.com</a></li>
                        <li><span>Call us:</span>+91 7904987617</li>
                    </ul>
                </div>
        </div>
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- SLIDER START -->
        <app-section-slider1></app-section-slider1>
        <!-- SLIDER END -->         

        <!-- ABOUT COMPANY START -->
        <app-section-about1 [data]='about'></app-section-about1>
        <!-- ABOUT COMPANY END -->
                    
        <!-- WHAT WE DO START -->
        <!-- <app-section-what-we-do1 [data]='whatwedo'></app-section-what-we-do1> -->
        <!-- WHAT WE DO END --> 


        
        <app-section-service [data]='homeservice'></app-section-service>
        
        <!-- PROJECTS START -->
        <!-- <app-section-projects1 [data]='projects'></app-section-projects1> -->
        <!-- PROJECTS  END -->  
        
        <!-- PROCESS START -->
        <app-section-process> </app-section-process>   
        <!-- PROCESS END  -->
                    
        <!-- OUR CLIENTS -->
        <app-section-clients1 [data]='client'></app-section-clients1>   
        <!-- OUR CLIENTS END --> 

        <!-- TESTIMONIAL START -->>
        <app-section-testimonials2 [data]='testimonials'></app-section-testimonials2>  
        <!-- TESTIMONIAL  END -->
        
        <!-- OUR TEAM START -->
        <!-- <app-section-team1 [data]='team'></app-section-team1> -->
        <!-- OUR Team END -->            
                            
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
          
</div>
