<div class="page-wraper"> 
        <div class="top-bar bg-gray mobile-page-padding  p-t80 p-b50">
                <div class="d-flex justify-content-start" style="margin-left: 42px;">
                    <ul class="list-unstyled typewriter e-p-bx ">
                        <p class="roll">Welcome to the Future of Marketing Excellence!</p>
                    </ul>
                </div>
                <div class="text-right" style="margin-top: 18px;">
                    <ul class="list-unstyled e-p-bx ">
                        <li><span>Mail us:</span>Zootocatechnologies@gmail.com</li>
                        <li><span>Call us:</span>+91 7904987617</li>
                    </ul>
                </div>
         </div>
       	
    <!-- HEADER START -->
    <app-header1></app-header1>
    <!-- HEADER END -->
    
    <!-- CONTENT START -->
    <div class="page-content">
    
        <!-- SLIDER START -->
        <app-section-slider1></app-section-slider1>
        <!-- SLIDER END -->         

        <!-- ABOUT COMPANY START -->
        <app-section-about1 [data]='about'></app-section-about1>
        <!-- ABOUT COMPANY END -->
                    
        <!-- WHAT WE DO START -->
        <app-section-what-we-do1 [data]='whatwedo'></app-section-what-we-do1>
        <!-- WHAT WE DO END --> 

        <!-- TESTIMONIAL START -->
        <app-section-testimonials1 [data]='testimonials'></app-section-testimonials1>
        <!-- TESTIMONIAL  END -->
        
        <!-- OUR SERVICES START -->
        <app-section-service [data]='services'></app-section-service>
        <!-- OUR SERVICES  END -->
        
        <!-- PROJECTS START -->
        <app-section-projects1 [data]='projects'></app-section-projects1>
        <!-- PROJECTS  END -->            
                    
        <!-- OUR CLIENTS -->
        <app-section-clients1 [data]='clients'></app-section-clients1>   
        <!-- OUR CLIENTS END --> 
        
        <!-- OUR TEAM START -->
        <app-section-team1 [data]='team'></app-section-team1>
        <!-- OUR Team END -->            
                            
    </div>
    <!-- CONTENT END -->
    
    <!-- FOOTER START -->
    <app-footer1 [data]='footerData'></app-footer1>
    <!-- FOOTER END -->
          
</div>